@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #43b656;
  --bgSoft: #b0d4b8;
  --textColor: #f8f8f8;
  --softTextColor: #84495f;
  --btn: #5d7b6f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.parent:hover .child {
  display: block;
}

.cl-rootBox {
  width: 100%;
}

.cl-card {
  width: calc(100% - 28px);
}

.cl-signIn-root,
.cl-signUp-root {
  margin: 220px auto 0;
  width: 440px;
}

.cl-organizationSwitcherPopoverActionButton__createOrganization {
  display: none;
}

.cl-organizationSwitcherPopoverCard {
  width: 400px;
}

.cl-organizationProfile-root {
  width: 1280px;
}
